@model TomasosPizzeria.ViewModels.MainCoursesViewModel

<div class="basket">
    <table class="table-hover">
        <thead>
            <tr>
                <th>Order Date</th>
                <th>Price</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in Model.Orders)
            {
                <tr>
                    <td>@order.BestallningDatum.ToString("dd/MM/yyyy")</td>
                    <td>@order.Totalbelopp</td>
                    @if (order.Levererad)
                    {
                        <td>Delivered</td>
                    }
                    else
                    {
                        <td>Undelivered</td>
                    }
                    <td>
                        <a asp-controller="Admin"
                            asp-action="ChangeOrderStatus"
                            asp-route-id="@order.BestallningId"
                            method="post">

                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-counterclockwise" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M8 3a5 5 0 1 1-4.546 2.914.5.5 0 0 0-.908-.417A6 6 0 1 0 8 2v1z" />
                                <path d="M8 4.466V.534a.25.25 0 0 0-.41-.192L5.23 2.308a.25.25 0 0 0 0 .384l2.36 1.966A.25.25 0 0 0 8 4.466z" />
                            </svg>

                            Status
                        </a>
                    </td>
                    <td>
                        <a asp-controller="Admin"
                            asp-action="DeleteOrder"
                            asp-route-id="@order.BestallningId"
                            method="post">

                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                            </svg>

                        </a>
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>